<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{{text}} Email template</title>
</head>

<body>
    <table width="650px" cellpadding="0" cellspacing="0" style="margin: 0px auto; border:1px solid #e5e5e5;position: relative;">
        <thead>
            <tr>
                <th colspan="2">
                    <a href="#" style="display:inline-block; padding:23px 0;text-align: center;">
                        {{{ logo }}}
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr style="width: 100%;display: block;background: #001877;
            height: 3px;">
            </tr>
            <tr style="width: 100%;
            display: inline-table;
            text-align: center;">
                <td style="padding: 60px 0;">
                    <img src="http://pf.fbdomination.io/images/bannerGraphic.png"alt="bannerGraphic.png">
                </td>
            </tr>
            <tr style="width: 100%;
            display: inline-table;
            text-align: center;">
                <td>
                    <img src="http://pf.fbdomination.io/images/line.png" alt="line" style="margin-bottom: 56px;">
                </td>
            </tr>
            <tr style="width: 100%;
            display: inline-table;">
                <td
                    style="padding: 0 8%;font-size: 14px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;color: #000000;">
                    <p style="margin: 0px; margin-bottom: 10px;">Hi there,</p>
                    <p style="margin: 0px; margin-bottom: 10px;"> You told us that you forgot your account password.</p>
                    <p style="margin: 0px; margin-bottom: 50px;"> If you really did, then here is your updated password -
                        <span style="color: #0077FF;">{{password}}</span></p>
                </td>
            </tr>
            <tr style="width: 100%;
            display: inline-table;">
                <td
                    style="padding: 0 8%;font-size: 14px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;color: #000000;">
                    <p style="margin: 0px; margin-bottom: 10px;">Thanks,</p>
                    <p style="margin: 0px; margin-bottom: 45px;"> Team {{text}}</p>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2"
                    style="text-align: center; color: #687488; font-size: 12px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; padding: 42px 0px 36px 0px;">
                    <p style="margin: 0px; margin-bottom: 14px;">Copyright 2020. {{text}}</p>
                </td>
            </tr>
        </tfoot>
    </table>
</body>

</html>
